<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
 
</head>

<body>
  <%- include('partials/_header') %>
  <form class="row col-10 col-md-8 col-lg-6 mx-auto" method="POST" action="/login"> 
    <input type="email"
      class="form-control mb-2" name="email" placeholder="Email" /> 
      <input type="password" class="form-control mb-2"
      name="password" placeholder="Password" /> 
      <button type="submit" class="btn btn-info w-100">Login</button>
  </form>
</body>

</html>